* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url(/assets/beco-diagonal.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
    background-color: rgb(27, 22, 49);
}

iframe{
    margin-left: 43rem;
    margin-top: 8rem;
    border-radius: 50px;
}

.menu{
    display: flex;
    font-size: 26px;
    margin-left: 73rem;
    margin-top: 5rem;
}
.sair{
    margin-left: 3rem;
}
.sair, .home{
    color: rgb(107, 26, 26);
    background-color: black;
    border-radius: 10px;
    padding: 5px;
}
.sair:hover, .home:hover{
    color: red
}