* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-image: url(/assets/folhavazia.jpg);
    background-size: 100%;
}



.capa{
    height: 300px;
    border-radius: 50px;
    margin-left: 10rem;
}



h1{
    margin-top: 5rem;
    margin-left: 11rem;
    font-size: 80px;
    color: rgb(107, 26, 26);
}



p{
    color: rgb(107, 26, 26);
    margin-top: 7rem;
    font-size: 35px;
}



.corpo{
    display: flex;
    margin-top: 1rem;
    margin-left: 10rem;
}



.casas{
    display: flex;
    margin-left: 6rem;
}



.a, .b, .c, .d{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 1rem;
}



.menu{
    display: flex;
    font-size: 23px;
    margin-left: 65rem;
}
.voltar{
    margin-left: 3rem;
}
.voltar, .beco{
    color: rgb(107, 26, 26);
}
.voltar:hover, .beco:hover{
    color: black;
}