/* Estlização do Index.html */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}




body{
    background: linear-gradient(236.85deg, #313b47 27.26%, #414447 96.03%);

}



.container {
    background-image: url(/assets/back-inicial.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    margin: 35px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 4);
}



.frase{
    color: rgb(177, 160, 85);
    
}
span{
    color: green;
}



.juramento{
    font-size: 25px;
    color: rgb(173, 172, 169);
    opacity: 0;
    text-decoration: none;
}
.juramento:hover{
    color: rgb(218, 199, 117);
    transition: 0.3s;
    opacity: 1;
}




/* Estilização do mapa.html */

 .pergaminho{
    background-image: url(/assets/folhavazia.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    margin: 35px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 4);
}


.menu{
    font-size: 22px;
    text-align: right;
    margin-right: 2rem;
} 
.back, .exit, .contato{
    margin-left: 1rem;
}
.back, .beco, .home, .exit, .contato{
    color: black;
}
.back:hover, .beco:hover, .home:hover, .exit:hover, .contato:hover{
    color: red
}

.titulo, .lista{
    font-size: 25px;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.mapa{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 3rem;
}

.a, .b, .c, .d{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 1rem;
}

.casas{
    display: flex;
    flex-wrap: wrap;
}

h2{
    margin-left: 7rem;
}



/* Estilização do beco.html */

.becodiagonal{
   background-image: url(/assets/beco-diagonal.jpg);
   background-position: center;
   background-size: cover;
   overflow: hidden;
   margin: 35px;
   border-radius: 20px;
   padding: 20px;
   box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 4);
}


iframe{
   width: 50%;
   border-radius: 20px;
   height: 400px;
   margin-top: 5rem;
   margin-left: 15rem;
}