/* Estlização do Index.html */

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}


body{
    background: linear-gradient(236.85deg, #313b47 27.26%, #414447 96.03%);

}


.container {
    background-image: url(/assets/back-inicial.jpg);
    background-size: cover;
    margin: 30px;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 4);
}

.frase{
    color: rgb(177, 160, 85);
    
}
span{
    color: green;
}



.imagens{
    display: flex;
    margin-top: 1rem;
}



.juramento{
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    color: rgb(151, 133, 94);
    opacity: 0;
    text-decoration: none;
    margin-left: 14.5rem;
    margin-top: 24rem;
}
.juramento:hover{
    color: rgb(0, 0, 0);
    transition: 0.5s;
    opacity: 1;
}




/* Estilização do mapa.html */

.pergaminho{
    background-image: url(/assets/folhavazia.jpg);
    background-size:cover;
    background-color: rgb(145, 125, 82);
    margin: 30px;
    border-radius: 20px;
    padding: 20px;
}


.menu{
    display: flex;
    font-size: 25px;
    border-radius: 15px;
    margin-top: 1rem;
    margin-left: 2rem;
}
.back, .beco{
    margin-left: 5rem;
}
.back, .beco{
    color: black;
}
.back:hover, .beco:hover, .home:hover, .exit:hover{
    color: red
}
.beco{
    margin-left: 40rem;
}
.home, .exit{
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 3px;
    margin-left: 1rem;

}


.mapa{
    height: 400px;
    border-radius: 50px;
    margin:30px;
    margin-left: 13rem;
}

.a, .b, .c, .d{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 1rem;
}
.casas{
    display: flex;
    margin-left: 25rem;
    margin-top: 2rem;
}



/* Estilização do beco.html */

.becodiagonal{
    background-image: url(/assets/beco-diagonal.jpg);
    background-size: cover;
    margin: 30px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 4);
}

iframe{
    margin-left: 43rem;
    margin-top: 12rem;
    border-radius: 50px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 4);
}



